{% extends 'base/base.html'%}
<title>{% block titulo %}Ingresar{%endblock%}</title>
        
      <!--<body style="background-color: rgb(240, 224, 247)">-->
           
        {%block header%}{%endblock%}

        {%block contenido%}
        <h1 style="padding-top: 20px; padding-bottom: 10px; text-align: center">Ingresar</h1>
        <!--Planilla de ingreso-->
        <div class="container col-md-4 formularios">
          <form method ="POST">
                {% csrf_token %}
            <div class="form-group" style="margin-top: 20px">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="username">            
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" name="password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recordarme</label>
            </div>          
            <div class="container" style="padding-bottom: 10px">
              <div class="row justify-content-center">            
                <button type="submit" class="btn btn-outline-success">Ingresar</button>                        
              </div>                            
            </div>
          </form>
          <div class="row" style="padding-top: 15px">
            <div class="col-md-6">
              <a href="">¿Olvidaste tu contraseña?</a>
            </div> 
            <div class="col-md-6" style="text-align: right">
              <a href="registro/">¿No posees una cuenta?</a>
            </div> 
          </div>  
        </div>   
        {%endblock%}
      <!--</body>-->