{% extends 'base/base.html'%}
{% load staticfiles %}
{%block contenido%}

<div class="container-fluid" style="margin-top: 10px">
    <div class="row colorFranjas1">
      <h2 style="text-align:center; margin-left: 20px">La mejor variedad en bolsos</h2>
      <div class="card-deck" style="margin: 20px">
      {% if object_list %} 
        {% for producto in object_list %}
          {% if producto.disponible %}
    
          <div class="card cardShadow">
            <!--<img src="{% static 'images/bolso1-lg.jpg' %}" class="card-img-top" alt="...">-->
      <img src="{{producto.imagen.url}}" class="card-img-top" alt="...">
            <div class="card-body" style="padding-bottom: 0px">                        
              <h6 class="card-subtitle mb-2 precioDescuento">Bs.S {{producto.precio_en_descuento}}</h6>
              <h7 class="card-subtitle mb-3 precioAntDescuento">Bs.S {{producto.precio}}</h7>            
            </div>
            <div class="card-body text-right">
              <a href="{{ producto.get_absolute_url }}" class="card-link">Ver producto</a>
            </div>
            <div class="container-fluid">
              <div class="row">               
                <div class="col-md-5 align-self-center border bg-light" style="padding: 0px; background-color: rgb(247, 247, 247); font-size: 20px">
                  <input type="number" class="form-control" id="inputCantProducto" aria-describedby="cantidadProducto" placeholder="0" style="border-radius: 0px">
                </div>                
                <div class="col-md-7 border bg-light" style="background-color: rgb(247, 247, 247); padding: 0px; margin-right: 0px">                  
                  <button type="button" class="btn btn-success btn-block" style="border-radius: 0px">Añadir al<span class="icon icon-cart" style="font-size: 20px; padding-left: 7px"></span></button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}  
      {% else %}
          <h2> No existen productos registrados</h2>
      {% endif %}


{% endblock %}