.navbarStyle{
    box-shadow: 0 0 2px #cfcfcf, 0 0 3px #cacaca;    
    /*background-color: rgb(255, 249, 224)*/
}

.banner{
    background: url(../images/banner.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover 
}

*{
	margin: 0;
	padding: 0;

	/*Barra social*/
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;	
}

/*-------------------------Barra social-------------------------*/

.social{
	position: fixed;
	left: 0;	
	top: 300px;	
	z-index: 2000;
	
	/*left: 0;	
	margin-top: 150px;	
	z-index: 2000;
	position: absolute;*/
}
/*
.sticky-top2 {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  z-index: 1030;
}
*/
.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.social ul li .icon-facebook{
	background: #3b5998;
}

.social ul li .icon-twitter{
	background: #00abf0;
}

.social ul li .icon-instagram{
	background: #f33f17;
}

.social ul li a:hover{
	padding: 10px 30px;
}
/*--------------------------------------------------------------*/

/*-------------------------Formularios de registro--------------*/

.formularios{
	background-color: rgb(248, 249, 250);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 0 3px #cfcfcf, 0 0 4px #cacaca
}
/*--------------------------------------------------------------*/

/*-------------------------Botones outline purpura--------------*/
.btn-outline-purple{
	color: #563d7c;
	border-color: #563d7c
}

.btn-outline-purple:hover{
	background: #563d7c;
	color: rgb(247, 247, 247);
	border-color: rgb(247, 247, 247);
}
/*--------------------------------------------------------------*/

/*-------------------------Botones outline purpura--------------*/
.cardShadow{
	box-shadow: 0 0 10px #cfcfcf62, 0 0 10px #cacaca60
}
/*--------------------------------------------------------------*/

.precioDescuento{
	color: rgb(29, 177, 29);
	font-size: 18px
}

.precioAntDescuento{
	color: #858585;
	text-decoration: line-through
}

.colorFranjas1{
	/*background-color: rgb(241, 253, 212);*/
	/*background-color: rgb(252, 236, 211);*/
	background-color: rgb(255, 247, 238);
	padding-top: 20px
}

.colorFranjas2{
	/*background-color: rgb(211, 233, 252);*/
	/*background-color: rgb(240, 248, 255);*/
	background-color: rgb(240, 224, 247);
	padding-top: 20px
}

.botonEditar{
	position: absolute;
	border-color: transparent;	
	font-size: 20px
}

/*-------------------------Galeria-------------------------*/

img.galleryImg{
	height: 400px;
	width: 400px;
	/*display: block;
	max-width: 100%;
	height: 250px;
	width: 250px;*/
	/*margin: 10px;*/
}

.textGallery{
	text-align: center;
	color: white;
	margin-top: 50px;
	margin-bottom: 20px;	
}

i.zoomImg{
	position: absolute;
	left: 48%;
	top: 45%;
	color: rgba(255,255,255,0.8);
	font-size: 2.6em;
	z-index: -2;
}

div.divImgGallery:hover i.zoomImg{
	z-index: 10;
}

figure.borderImgGallery{
	display: inline-block; 
	margin: 0; 
	position: relative; 
	border: 3px rgba(214, 214, 214, 0) solid;
}

div.divImgGallery:hover figure.borderImgGallery{
	border: 3px rgb(255,255,255) solid;	
	box-shadow: 0 0 4px rgba(234, 0, 255, 0.473), 0 0 20px rgba(69, 27, 82, 0.514);		
	z-index: 2
}
/*--------------------------------------------------------------*/

/*-------------------------Iluminación de imágenes-------------------------*/
div.onDivNews{
	background: rgba(104, 173, 71, 0.5);
}

div.onDivNews:hover{
	background: rgba(104, 173, 71, 0.7);
}

div.onDivNews:hover img.glowShadow{
	position: relative;
	box-shadow: 0 0 4px red, 0 0 20px orange;	
}

.glowShadow:before, .glowShadow:after{
	content: "";
	position: absolute;
	box-shadow: 0 0 20px #777;
	top: 0;
	bottom: 0;
	left: 10px;
	right: 10px;
	border-radius: 100px/10px;
	z-index: -1;
}

.commentsIcon:hover{
	color: black;
}
/*--------------------------------------------------------------*/